@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Poppins:wght@400;500&display=swap');


main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

.header {
    display: flex;
    background-color: #161616;
    border-radius: 30px;
    color: #FFFFFF;
}

.container {


    background-color: #FFFFFF;
    Width: 800px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;



}

.container-2 {


    background-color: #FFFFFF;
    Width: 800px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;



}

.banner img {
    width: 100%
}

.great {

    width: 481px;
    height: 213px;
    padding-left: 70px;

}

h1 {
    font-weight: 600;
    font-size: 30px;
}

.player {
    font-size: 10px;
}

.button {
    background-color: #DD0000;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 5px;
}



.fixed {
    Width: 190px;
    height: 120px;
    background-color: #161616;
    padding: 10px 20px;
    border-radius: 10px;




}

.link-button {
    background-color: #FFFFFF;
    width: 150px;
    height: 20px;
    padding: 5px 10px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;


}

.button-color {
    background-color: #DD0000;
}


a {
    text-decoration: none;
    color: #161616;

    font-size: 15px;

}





a:hover {
    background-color: #DD0000;
    border-radius: 10px;
}

.player-window {
    display: flex;
}

.Transfar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;

}

.transfar-banner img {
    width: 112px;
    height: 100px;
}

.transfar-info {

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #161616B2;
    font-weight: 400px;


}

.h5 {
    font-size: 10px;
    font-weight: 400;
}

.last-work {
    background-color: #161616;
    color: #FFFFFF;
    width: 861px;
    height: 400px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 20px;


}

h2 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 40px;
}

h3 {
    font-size: 16px;
}

hr {
    border: .05px solid #D1D1D1;
    margin-bottom: 25px;
    width: 800px;
}

ul {
    list-style-type: none;
    color: #B9B9B9;
}

li {
    display: inline;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;





}

.icon {
    padding: 20px;
    display: inline-block;

}


#color {
    color: #B9B9B9;


}

.Match {
    display: flex;
}

.matchs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.flags img {

    width: 70px;
    height: 40px;


}

.flags {
    display: flex;
}

#info {
    color: #4D4D4D;
    font-size: 12px;
}

/*---------
 media quries-------- */
/* mobile Divices */
@media screen and (max-width: 688px) {
    .container {
        width: 100%;

    }

    .container-2 {
        width: 100%;

    }

    .header {

        flex-direction: column;
        align-items: center;
        padding-left: 50px;




    }

    .player-window {
        flex-direction: column;
        align-items: center;

    }

    .fixed {


        align-items: center;
        background-color: #FFFFFF;
        padding: 0;
        margin-bottom: 20px;
    }

    .Transfar {
        grid-template-columns: repeat(1, 1fr);

        padding: 60px;
    }



    .last-work {
        width: 100%;
        height: 100%;

    }

    ul {
        display: flex;
        flex-direction: column;
        padding-right: 28px;
    }

    .Match {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .matchs {
        grid-template-columns: repeat(1, 1fr);

        align-content: center;
        align-items: center;
        justify-items: center;
    }


}

/*---------
 media quries-------- */
/* Tablet Divices */